<header class="limited">
    <div>
        <img class="logo" src="images/site/icon.png" alt="CSE Motors">
        <!-- <span id="siteName"> -->
            <a id="siteName" href="/" title="Return to home page">CSE Motors</a>
        <!-- </span> -->
            <a id="accountActions" title="Click to log in" href="/">My Account</a>
        <!-- <button id="hamburgerBtn">
            <span>&#9776; </span>
            <span>X</span>
        </button> -->
    </div>
</header>