<header class="limited">
    <div>
        <img class="logo" src="images/site/icon.png" alt="CSE Motors">
        <span id="siteName">
            <a href="/" title="Return to home page">CSE Motors</a>
        </span>
        <span id="accountActions">
            <a title="Click to log in" href="/account/login">My Account</a>
        </span>
        <button id="hamburgerBtn">
            <span>&#9776; </span>
            <span>X</span>
        </button>
        <nav>
            <ul id="primaryNav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="custom.html">Custom</a></li>
                <li><a href="sedan.html">Sedan</a></li>
                <li><a href="suv.html">SUV</a></li>
                <li><a href="truck.html">Truck</a></li>
            </ul>
        </nav>
    </div>
</header>