<header class="limited">
    <div>
        <img class="logo" src="../../images/site/icon.png" alt="CSE Motors">
        <a id="siteName" href="/" title="Return to home page">CSE Motors</a>
        <a id="accountActions" title="Click to log in" href="/">My Account</a>
    </div>
</header>