<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Roberto Uriona">
    <link href="/css/large.css" rel="stylesheet">
    <link href="/css/medium.css" rel="stylesheet">
    <link href="/css/small.css" rel="stylesheet">
    <link href="../../images/site/favicon-32x32.png" rel="icon" > 
    <title><%- title %> | CSE 340 App</title>
</head>