<section id="welcome-section">
    <h1>Welcome to CSE Motors!</h1>
</section>
<img src="images/vehicles/delorean.jpg" id="hero-image" alt="Hero Image">
<section id="own-today-section">
    <h1>DMC Delorean</h1>
    <h3>3 Cup holders</h3>
    <h3>Superman doors</h3>
    <h3>Fuzzy dice!</h3>
    <img src="images/site/own_today.png" alt="Own Today button">
</section>
<section id="upgrades">
    <h1>Delorean Upgrades</h1>
    <div class="upgrade-box" id="flux-cap">
        <img src="images/upgrades/flux-cap.png" alt="Flux Cap">
    </div>
    <a class="upgrade-link" href="/" id="flux-cap-link">Flux Capacitor</a>
    <div class="upgrade-box" id="flame">
        <img src="images/upgrades/flame.jpg" alt="Flame">
    </div>
    <a class="upgrade-link" href="/" id="flame-link">Flame Decals</a>
    <div class="upgrade-box" id="bumper-sticker">
        <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
    </div>
    <a class="upgrade-link" href="/" id="bumper-sticker-link">Bumper Stickers</a>
    <div class="upgrade-box" id="hub-caps">
        <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
    </div>
    <a class="upgrade-link" href="/" id="hub-caps-link">Hub Caps</a>
</section>
<section id="reviews">
    <h1>DMC Delorean Reviews</h1>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road" (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day" (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</section>